<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Appointments</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <style>
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            body {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                background-color: #f8f9fa;
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            text-align: center;
        }

        h1 {
            margin: 0;
            font-size: 36px;
            font-weight: bold;
            letter-spacing: 3px;
            color: white;
            text-align: center;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav li {
            display: inline-block;
            margin-right: 20px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
        }

            nav a:hover {
                color: #808080;
            }
            .container {
                flex-grow: 1;
                padding: 40px;
                background-color: #fff;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .form-group {
                margin-bottom: 20px;
            }

                .form-group h4 {
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 5px;
                }



        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        </style>
</head>
<body>
    <header>
        <h1>Welcome to the Online Tutoring Center </h1>
        <nav>
            <ul>
                <li><a href="StudentView"><h3>Home</h3></a></li>
                <li><a href="#"><h3>Contact Coordinator</h3></a></li>
                <li><a href="#"><h3>My Appointments</h3></a></li>
                <li><a href="#"><h3>Profile</h3></a></li>
                <li><a href="Homepage" style="color: red;"><h3>Logout</h3></a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        @model SlotsViewModel
   
            @if (Model.Requests.Count != 0)
            {
                @for (int i = 0; i < Model.Requests.Count; i++)
                {
                    <div class="form-group">
                        <h4>@Model.Requests[i]</h4>
                    </div>
                
                <li>
                    @using (Html.BeginForm("TutorRating", "Home", FormMethod.Post, new { @class = "send-requests-form" }))
                    {
                        <input type="hidden" id="TutorName" name="Name" value="@Model.TutorUserName[i]" />
                        <input type="hidden" id="StudentName" name="StudentName" value="@Model.StudentUserName" />
                    
                        <button type="submit" class="btn btn-link" style="border: none; background: none; padding: 0;"><h3>Done with the Appointment?Provide feedback</h3></button>
                    }
                </li>
                }
            }
            else
            {
                <p>There are no upcoming appointments</p>
            }
        
    </div>
    <footer>
        <p> &copy; 2023 Online Tutoring Center. All rights reserved.</p>
    </footer>
</body>
</html>
