@model SlotsViewModel

<form asp-controller="Home" asp-action="SubmitRating" method="post">
    <div class="form-group">
        <label for="rating">Rate us out of 5:</label>
        <div class="star-rating">
            <input type="radio" id="star5" name="rating" value="1">
            <label for="star5" title="5 stars"><span class="star-icon"></span></label>
            <input type="radio" id="star4" name="rating" value="2">
            <label for="star4" title="4 stars"><span class="star-icon"></span></label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3" title="3 stars"><span class="star-icon"></span></label>
            <input type="radio" id="star2" name="rating" value="4">
            <label for="star2" title="2 stars"><span class="star-icon"></span></label>
            <input type="radio" id="star1" name="rating" value="5">
            <label for="star1" title="1 star"><span class="star-icon"></span></label>
            <input type="hidden" id="TutorName" name="TutorName" value="@Model.Name" />

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
